<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面-MyCircle</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/CSS/main-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/signup-style.css" rel="stylesheet" type="text/css" media="all">
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script>
        var MODULE = "__ROOT__";
    </script>
    <script src="__PUBLIC__/js/signup.js"></script>
    <script src="__PUBLIC__/js/my_circle.js"></script>
</head>
<body>
    <div class="main-body">
        <include file="Public:header"/>
        <div class="form-container">
            <nav>
                <ul>
                    <li><a href="__ROOT__/Account/login">登录</a></li>
                    <li><a href="__ROOT__/Account/register">注册</a></li>
                </ul>
            </nav>
            <form class="user-login">
                <div class="input-group">
                    <label  for="inputUsername">
                        <span>用户名</span>
                    </label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="请输入用户名"  name="username" required>
                </div>
                <div class="input-group">
                    <label  for="inputPassword">
                        <span>密码</span>
                    </label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码"  name="password" required>
                </div>
                <input id="btn-login" class="user-btn  btn " type="submit" value="登陆">
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

</html>
