<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的兴趣圈-MyCircle</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/CSS/main-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/signup-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/pagination.css" rel="stylesheet" type="text/css" >
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script>
        var MODULE = "__ROOT__";
    </script>
    <script src="__PUBLIC__/js/my_circle.js"></script>
</head>
<body>
<div class="main-body circlepage">
    <include file="Public:header"/>
    <div class="container">
        <include file="Public:asidebar"/>
        <div class="wrapper M-box m-style">
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/jquery.pagination.js"></script>
<script>
    $(function () {
        var total = "{$total}";
        total = Math.ceil(total/3);
        $('.M-box').pagination({
            mode: 'fixed',
            pageCount: total,
            callback: function (api) {
                getCircleList(api.getCurrent(),3);
            }
        },function (api) {
            getCircleList(api.getCurrent(),3);
        });

    });
    function getCircleList(current,page) {
        $.ajax({
            type:'post',
            url: MODULE+'/Account/getMyCircle',
            data: {current:current,page:page},
            success:function (data) {
                for(var i=0;i<data.length;i++){
                    circleDisplay($('.wrapper'),data[i]);
                }
            },error:function () {
                alert('get circle error');
            }
        })
    }
    function circleDisplay(obj,data) {
        $model = '<div class="card">\n' +
            '                <img src="'+data['circle_avatar']+'">\n' +
            '                <span class="title">'+data['circle_name']+'</span>\n' +
            '                <span class="intro">'+data['circle_intro']+'</span>\n' +
            '                <span class="divider"></span>\n' +
            '                <a class="quit" href="#">退出</a>\n' +
            '                <a class="edit" href="#">发文</a>\n' +
            '                <a class="detail" href="#">查看</a>\n' +
            '            </div>';
        obj.append($model);
    }
</script>
</html>