<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的兴趣圈-MyCircle</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/CSS/main-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/signup-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/pagination.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script>
        var MODULE = "__ROOT__";
    </script>
    <script src="__PUBLIC__/js/my_circle.js"></script>
</head>
<body>
<div class="main-body circlepage">
    <include file="Public:header"/>
    <div class="container">
        <include file="Public:asidebar"/>
        <div class="wrapper M-box m-style">
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/jquery.pagination.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script>
    var total = "{$total}";
    var show = 9;
    var current;
    var page;
    $(function () {
        $('.data-bar a:eq(1)').addClass('active');
        total = Math.ceil(total/show);
        $('.M-box').pagination({
            showData:  show,
            pageCount: total,
            callback: function (api) {
                current = api.getCurrent();
                getCircleList(current,show);
            }
        },function (api) {
            page = api;
            current = api.getCurrent();
            if("{$total}"<=show){
                $('.page-wrapper').hide();
            }
            getCircleList(current,show);
        });

        $('.wrapper').on('click','.btn-card',function () {
            var id = $(this).parent(".card").data("id");
            if($(this).hasClass('detail')){
                window.open(MODULE+"/Circle/"+id);
            }
            if($(this).hasClass('edit')){
                window.open(MODULE+"/Article/write?circle="+id);
            }
            if($(this).hasClass('quit')){
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.confirm('确定退出？',function (index) {
                        $.post(MODULE+"/Circle/quit",{circle_id:id},function(data){
                            if(!data){
                                $('.card').remove();
                                getCircleList(current,show);
                            }
                        });
                        layer.close(index);
                    });
                });

            }
        });

    });
    function getCircleList(current,page) {
        $.ajax({
            type:'post',
            url: MODULE+'/Account/getMyCircle',
            data: {current:current,page:page},
            success:function (data) {
                for(var i=0;i<data.length;i++){
                    circleDisplay($('.wrapper'),data[i]);
                }
            },error:function () {
                alert('get circle error');
            }
        })
    }
    function circleDisplay(obj,data) {
        $model = '<div class="card" data-id="'+data['circle_id']+'">\n' +
            '                <img src="'+data['circle_avatar']+'">\n' +
            '                <span class="title">'+data['circle_name']+'</span>\n' +
            '                <span class="intro">'+data['circle_intro']+'</span>\n' +
            '                <span class="divider"></span>\n' +
            '                <span class="btn-card quit">退出</span>\n' +
            '                <span class="btn-card edit">发文</span>\n' +
            '                <span class="btn-card detail">进入</span>\n' +
            '            </div>';
        obj.append($model);
    }
</script>
</html>