<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/CSS/main-style.css" rel="stylesheet" type="text/css" media="all">
    <link href="__PUBLIC__/CSS/signup-style.css" rel="stylesheet" type="text/css" media="all">
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script>
        var MODULE = "__ROOT__";
    </script>
    <script src="__PUBLIC__/js/signup.js"></script>
    <script src="__PUBLIC__/js/my_circle.js"></script>
</head>
<body>
    <div class="main-body">
        <include file="Public:header"/>
        <div class="form-container">
            <nav>
                <ul>
                    <li><a href="__ROOT__/Account/login">登录</a></li>
                    <li><a href="__ROOT__/Account/register">注册</a></li>
                </ul>
            </nav>
            <form class="user-signup">
                <label for="inputUsername">
                    <span>昵称</span>
                </label>
                <div class="group  has-feedback">
                    <input type="text" class="form-control" id="inputUsername" placeholder="昵称"  name="username" required>
                </div>
                <label for="inputPassword">
                    <span>密码</span>
                </label>
                <div class="group has-feedback">
                    <input type="password" class="form-control" id="inputPassword" placeholder="密码不少于6位"  name="password" required>
                </div>
                <label for="inputPassword2">
                    <span>重复密码</span>
                </label>
                <div class="group has-feedback">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="确认密码"  name="password2" required>
                </div>
                <label for="inputMail">
                    <span>邮箱</span>
                </label>
                <div class="group has-feedback">
                    <input type="text" class="form-control" id="inputMail" placeholder="邮箱"  name="mail" required>
                </div>
                <div class="group">
                    <input id="btn-signup" class="btn user-btn" type="button" value="点击注册">
                </div>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

</html>
