/*页面样式初始化开始*/
body,div,p,hr{
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
iframe{
    border: none;
}

a,a:visited,a:hover,a:link,a:visited,a:active{
    text-decoration: none;
    color: white;
}
input,select,option,textarea{
    outline: 0;
}
img[src=""]{
    opacity: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cr{
    clear: both;
}
.bg{
    background: rgba(220,220,220,0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
}
/*页面样式初始化结束*/
.main-body{
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    background: url("../img/body_bg.jpg") no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    font-family: Helvetica,Arial,微软雅黑;
    font-size: 20px;
    min-width: 1280px;
    z-index:-1;
}
.my-circle,.user-login-window,.user
,.rank,.article,.user-menu ul li a,.circle-user{
    transition: all 0.5s;
}
.my-circle:hover,.user-login-window:hover,.user:hover
,.rank:hover,.article:hover,.user-menu ul li a:hover,.circle-user:hover,.history:hover {
    box-shadow: 0 0 70px 0 black;
    /*background: rgba(255,255,255,0.6);*/
}
/*导航栏样式开始*/

.nav_container{
    height: 36px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.nav_container .btn-write {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background: rgba(39,40,34,0.3);
    font-weight: 400;
    padding: 6px 12px;
    vertical-align: middle;
    margin: 3px 0;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    float: right;
}
.nav_container .glyphicon-edit:before {
    padding-right: 5px;
}
.nav_container .btn-write:hover{
    background: rgb(217,83,79);
}
.nav-menu{
    margin-top: 3px;
    margin-left: 100px;
    position: relative;
}
.nav-menu-list{
    margin-left: 50px;
}
.nav-menu-list li{
    float: left;
    text-align: center;
}
.nav-menu-list li a{
    width: 100%;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow:0 0 5px #fff;
}

.li-bottom{
    position: absolute;
    top: 32px;
    left: 205px;
    transition: left 0.5s ease;
    border-top: 3px solid #ea6f6e;
}
.nav-menu-list li:nth-child(1):hover~.li-bottom{
    left: 205px;
    width: 40px;
}
.nav-menu-list li:nth-child(2):hover~.li-bottom{
    left: 275px;
    width: 60px;

}
.logo{
    width: 140px;
}
.nav-user{
    margin-right: 20%;
}
.user-status{
    height: 36px;
    margin-left: 10px;
}
.user-status .active{
    max-height: 600px;
}
.user-dropdown-menu {
    position: fixed;
    top: 36px;
    width: 150px;
    background: #fff;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    box-shadow: 0 0 10px 0 black;
    max-height: 0;
    overflow-y: hidden;
    transition: all .25s linear;
}
.user-dropdown-menu li{
    border-bottom: 1px solid #dadada;
    transition: .25s;
    cursor: pointer;
}
.user-dropdown-menu li a{
    color: inherit;
    width: 100%;
    font-size: 16px;
    padding: 10px 15px 10px 25px;
    display: block;
}
.user-dropdown-menu li:hover {
    color: #fff;
    background: rgb(217,83,79);
}
.top-face{
    width: 36px;
    height: 36px;
}
.face {
    transition: all .25s ease-in-out;
}
.face:hover{
    box-shadow: 0 0 50px 0 black;
    transform: scale(1.1,1.1);
}
.img-face{
    height: 100%;
    width: 100%;
}
/*导航栏样式结束*/
/*首页内容主体开始*/

.container{
    margin: 80px auto;
    margin-bottom: 50px;
    padding: 0;
    width: 1120px;
}
.article-list{
    width: 754px;
    position: relative;
    padding-bottom: 50px;
}
.article{
    margin-bottom: 5px;
    padding: 10px;
    overflow: auto;
}
.article-list .article-title a,.user-menu-article a{
    transition: all 0.7s;
}
.article-title a:hover{
    animation :light-font 1.5s ease-in-out infinite alternate;
}
.user-menu-article a:hover{
    animation :light-font-small 1.5s ease-in-out infinite alternate;
}
@keyframes light-font{
    from{
        text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px white,
        0 0 60px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 120px #228DFF;
    }
    to{
        text-shadow: 0 0 5px white,
        0 0 10px white,
        0 0 20px white,
        0 0 30px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 60px #228DFF;

    }
}
@keyframes light-font-small{
    from{
        text-shadow: 0 0 5px white,
        0 0 6px white,
        0 0 7px white,
        0 0 7px #228DFF,
        0 0 8px #228DFF,
        0 0 9px #228DFF,
        0 0 10px #228DFF;
    }
    to{
        text-shadow: 0 0 1px white,
        0 0 2px white,
        0 0 3px white,
        0 0 3px #228DFF,
        0 0 4px #228DFF,
        0 0 5px #228DFF,
        0 0 6px #228DFF;
    }
}
.article-img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
}
.article-title,.article-content,.article-info{
    margin-left: 120px;
}
.line-limit,.line-limit p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-title{
    font-size: 25px;
    letter-spacing: 3px;
}
.article-content{
    font-size: 17px;
    margin-top: 5px;
}
.article-content p,.article-info,.article-info a{
    color: #ababab;
    font-weight: bold;
}
.article-info{
    font-size: 12px;
    margin-top: 15px;
}
.article-info a{
    transition: all .5s ease-in-out;
}
.article-info a:hover {
    color:#ececec;
}
.article-info span{
    margin-right: 20px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article-info span:nth-child(1){
    width: 100px;
    margin-right: 10px;
}
.user-menu .circle-content {
    max-width: 86px;
    margin-left: 15px;
}
/*首页主体内容结束*/
/*兴趣圈内容开始*/
.circle-container{
    width: 754px;
}
.circle-nav{
    overflow: hidden;
}
/*兴趣圈区导航栏效果开始*/
.circle-nav li{
    float: left;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: solid white 1px;
    padding: 0;
    margin: 0;

}
.circle-nav li a{
    width: 100%;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    position: relative;
}
.circle-nav ul:after {
    content:"";
    clear: both;
    display:table;
}
.circle-nav li a:hover,.circle-nav li a:hover:before,.circle-nav li a:hover:after{
    color: rgb(217,83,79);
}
.circle-nav li a,.circle-nav li a:before,.circle-nav li a:after{
    transition: all 0.5s;
}
.circle-nav li a:before,.circle-nav li a:after{
    position: absolute;
}
.circle-nav li a:before{
    content: "\5B";
    left: 2px;
    opacity: 0;
}
.circle-nav li a:after{
    content: "\5D";
    right: 2px;
    opacity: 0;
}
.circle-nav li a:hover:before{
    left: -2px;
    opacity: 1;
}
.circle-nav li a:hover:after{
    right: -2px;
    opacity: 1;
}
/*兴趣圈区导航栏效果结束*/
.circle-container .circle-display {
    margin-top: 40px;
    position: relative;
    padding-bottom: 40px;
}
.circle-container .circle-display:after {
    content: "";
    display: table;
    clear: both;
}
.circle-container .my-circle {
    width: 350px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.circle-container .my-circle-right {
    margin-left: 50px;
}
.circle-container .circle-img,.circle-img-mini {
    border-radius: 50%;
    overflow: hidden;
}
.circle-container .circle-img {
    width: 72px;
    height: 72px;
}
.circle-img-mini{
    width: 36px;
    height: 36px;
}
.circle-container .circle-content{
    margin-left: 20px;
    max-width: 238px;
}
.circle-container .circle-name{
    font-weight: bolder;

}
.circle-container .circle-intro{
    color: gray;
}
.circle-people, .circle-article,.circle-container .circle-intro{
    font-size: 15px;
}
.circle-people {
    margin-right: 20px;
}
.circle-people,.circle-article{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    color: #fff;
}
.circle-user{
    margin-bottom: 20px;
}
.circle-user,.user-login-window{
    display: none;
}
/*兴趣圈内容结束*/
/*侧边栏样式开始*/
.sidebar{
    width: 348px;
    color: white;
}
.user-login-window{
    padding: 10px 5px;
    margin-bottom: 20px;
}
.user-login-window .user-login{
    font-size: 12px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.user-login a{
    margin-bottom: 5px;
}
.user-login-window .user-login{
    text-align: left;
}
.user-login a{
    display: inline-block;
    margin-top: 5px;
}
.input{
    overflow: hidden;
    font-size: 16px;
    margin-bottom: -20px;
}
.input-field{
    width: 100%;
    background: transparent;
    border: 0;
    margin-top: 30px;
    padding: 3px 0;
}

.input-label{
    display: inline-block;
    width: 100%;
    height: 0;
    position: relative;
    top :0;
    left: 0;
    text-align: left;
}
.input-label span{
    position: relative;
    top : -25px;
    left: 0;
    display: inline-block;
}
@keyframes span-move {
    50%{
        opacity: 0;
        transform: translate3d(5px, 0, 0);
    }

    100%{
        opacity: 1;
        transform: translate3d(0, -25px, 0);
    }
}
.input-label::before,.input-label::after{
    content: " ";
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    border-bottom: 1px solid #FFFAFA;
}
.input-label::after {
    border-bottom: 3px solid rgb(217,83,79);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s ;
}
.input-field:focus+.input-label::after,.input-label-end::after {
    transform: translate3d(0, 0, 0) ;
}

.input-field:focus+.input-label span{
    animation: span-move 0.5s forwards;
}
.input-label-span-end{
    animation: span-move  forwards;
}
.user-btn{
    background: rgba(39,40,34,0.3);
    width: 100%;
    color: white;
}
.user-btn:hover,.user-btn:focus{
    color: white;
    background: rgb(217,83,79);
}
.user{
    margin-bottom: 20px;
    padding: 10px 0;
    display: none;
}
.face{
    border: solid 0;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}
.side-face{
    margin: 0 auto;
    width: 72px;
    height: 72px;
}
.welcome{
    text-align: center;
}
.user-menu{
    overflow: hidden;
    padding: 10px;
}
.user-menu .go-to {
    margin: 0 5px;
}
.user-menu .view-more,
.user-menu .go-to,
.user-menu .tip {
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
    margin-left: 5px;
}
.user-menu .go-to:after {
    content: "\e127";
    font-family: 'Glyphicons Halflings';
}
.user-menu .view-more a:hover,
.user-menu .go-to:hover {
    border-bottom: 2px solid #fff;
}

.user-menu-circle:after {
    content: " ";
    display: table;
    clear: both;
}
.user-menu-circle li{
    float: left;
    width: 155px;
    margin: 5px 0;
}
.user-menu-circle .right{
    margin-left: 15px;
}
.user-menu-circle li a{
    padding: 5px;
    float: left;
    width: 100%;
}
.user-menu-circle li a div p{
    font-size: 15px;
    font-weight: bolder;
    line-height: 36px;
}
.user-menu-article li{
    padding-left: 5px;
    padding-right: 5px;
}
.user-menu-article li:hover {
    box-shadow:0 2px 0 #aaaaaa;
}
/*侧边栏样式结束*/

/*文章区开始*/
.article-container{
    width: 754px;
}
.article-container .wrapper{
    padding: 20px;
}
.article-container .title h2{
    text-align: center;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 2px;
}
.article-container .status {
    text-align: center;
}
.article-container .status span {
    display: inline-block;
    padding: 3px 20px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #dadada;
    background: transparent;
}
.article-container .status a {
    color: inherit;
}
.article-container .status a:hover{
    color: #fff;
}
.article-container .content{
    margin-top: 40px;
    color: #fff;
    padding: 10px;
}
.article-container .tag {
    float: right;
}
.article-container .tag span {
    color: #dadada;
    font-size: 12px;
    margin: 0 5px;
    padding: 3px 20px;
}
.article-container .tag .article-label {
    border-radius: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.article-container .tag .article-label:hover {
    border-color: rgb(217,83,79);
    color: #fff;
}
.article-container .wrapper:after {
    display: table;
    content: '';
    clear: both;
}
.article-container .content p img {
    max-width: 100%;
}
.article-container .article p img {
    width: 100px;
}

/*文章区结束*/
/*评论区*/
.comment-container{
    width: 754px;
    margin-top: 40px;
    clear: both;
    padding: 20px;
}
.comment-face{
    width: 48px;
    height: 48px;
    position: relative;
    left: -48px;
    top: -48px;
}
.comment-textarea{
    width: 100%;
    margin-top: -48px;
    padding: 5px 10px;
}
.comment-area {
    width: 754px;
    margin-top: 40px;
}
.comment-list {
    padding-bottom: 40px;
    position: relative;
}
.comment-list li {
    margin-bottom: 20px;
}
.comment-user-avatar:after {
    content: "";
    clear: both;
    display: table;
}
.comment-user-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    float: left;
}
.comment-user-avatar img {
    width: 100%;
    height: 100%;
}
.comment-list .right-wrapper {
    margin-left: 102px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
}
.comment-list .reviewer {
    color: #fff;
    font-size: 18px;
}
.comment-list .comment-content {
    color: #b8b8b8;
    font-size: 14px;
}
.comment-list span {
    color: #dadada;
    font-size: 12px;
}
.comment-list .date {
    margin-left: 20px;
}
.comment-list .reply {
    margin-left: 20px;
    color: #dadada;
    font-size: 12px;
}
.shoot-btn{
    padding: 0;
    background: rgba(39,40,34,0.5);
    width: 100%;
    height: 40px;
    color: white;
}
.shoot-btn:hover,.shoot-btn:focus{
    background: rgb(217,83,79);
    color: white;
}
textarea{
    resize: none;
    outline:none;
}
/*评论区*/
/*创建兴趣圈部分开始*/
.create-container{
    width: 70%;
    margin: 80px auto;
    padding: 20px 10px;
}
.circle-create{
    width: 100%;
    color: #fff;
}
.circle-create h1{
    margin: 0;
}
.circle-create .tip_success,
.circle-create .tip_fail {
    text-align: center;
    display: none;
    margin-top: -16px;
}
.circle_class{
    width: 120px;
    float: left;
}
.circle_class_son{
    display: none;
    margin-left: 20px;
}
.circle-create input[type=submit]{
    margin-top: 20px;
}
.circle-create:after {
    content: " ";
    display: table;
    clear: both;
}
.circle-create .left-form {
    float: left;
    width: 50%;
    padding: 10px;
    padding-right: 15px;
    border-right: solid #fff 1px;
}
.circle-create .right-form {
    width: 50%;
    float: right;
    padding: 10px;
    padding-left: 15px;
}
.circle-create .right-form .img-uploader {
    float: none;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px auto;
}
.circle-create .right-form .img-uploader span{
    width: 100%;
    height: 100%;
    line-height: 250px;
    font-size: 100px;
}
.circle-create .right-form .img-uploader input[type=file]{
    width: 100%;
    height: 100%;
    top: -250px;
}
.circle-create .right-form .img-uploader #portrait{
    width: 100%;
    height: 100%;
    top: -500px;
}

/*创建兴趣圈部分结束*/
/*上传文章*/
.edit-container{
    width: 768px;
    margin: 80px auto;
    padding: 20px;
}
.edit-input-field{
    float: left;
    width: 608px;
    margin-left: 20px;
    height: 100px;
}
.clearfix::before {
    content: ' ';
    clear: both;
    display: block;
}
.edit-input-field .edit-input-title {
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 10px;
    height: 45px;
    display: block;
    border:  1px solid #ccc;
    border-radius: 5px;
    transition: ease-in-out .25s;
}
.edit-input-field .article_class {
    width: 80px;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: solid #fff 2px;
    margin-top:20px;
    transition: ease-in-out .25s;
}
.edit-input-field .add_article_class {
    position: relative;
    background: transparent;
    z-index: 10;
    border: none;
    font-size: 15px;
    color: #fff;
    transition: ease-in-out .25s;
    cursor: pointer;
}
.edit-input-field .article-label {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px 10px;
    transition: all .25s ease-in-out;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.edit-input-field .article-label::after {
    content:"\e014";
    font-size: 15px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: -9px;
    right: -9px;
    transition: all .25s ease-in-out;
}
.edit-input-field .article-label:hover {
    background: rgba(255, 255, 255, 0.4);
}
.edit-input-field .edit-input-title:hover,
.edit-input-title:focus {
    box-shadow:  0 0 20px rgba(217,83,79,0.5);
}
.edit-input-field .add_article_class:hover{
    color: rgb(217,83,79);
}
.edit-input-field .article_class:hover,
.edit-input-field .article_class:focus{
    border-bottom: solid rgb(217,83,79) 2px;
}
#editor{
    width: 100%;
    margin-top: 10px;
    background: white;
}
.img-uploader{
    width: 100px;
    height: 100px;
    background: white;
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 50px;
    float: left;
    border-radius: 5px;
    transition: ease-in-out .25s;
    overflow: hidden;
    cursor: pointer;
}
.img-uploader span{
    height: 100px;
    line-height: 100px;
}
.img-uploader input[type=file]{
    margin: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
    z-index: 3;
    position: relative;
    top:-100px;
    cursor: pointer;
}
.img-uploader:hover{
    color: rgb(217,83,79);
    box-shadow: 0 0 50px 0 black;
}
#portrait{
    position: relative;
    width: 100px;
    height: 100px;
    top:-200px;
}
/* 气泡背景 */
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
@keyframes square {
    0%{
        opacity: 0;
        transform:  rotate(45deg);
        top: 95%;
    }
    25%{
        transform: rotate(90deg);
        opacity: 0.5;
        top: 65%;
    }
    50%{
        transform:  rotate(135deg);
        opacity: 0.75;
        top: 35%;
    }
    100%{
        opacity: 0;
        transform:  rotate(180deg);
        top: 5%;
    }
}
.bg-bubbles li {
    position:  absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.15);
    animation: square 15s infinite linear;
    opacity: 0;
}
.bg-bubbles li:nth-child(1){
    left: 10%;
    animation-duration: 13s;
}
.bg-bubbles li:nth-child(2){
    left: 20%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
}
.bg-bubbles li:nth-child(3){
    left: 30%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bg-bubbles li:nth-child(4){
    left: 40%;
    width: 100px;
    height: 100px;
    opacity: 0;
    animation-delay: 5s;
    animation-duration: 7s;
}
.bg-bubbles li:nth-child(5){
    left: 50%;
    width: 20px;
    height: 20px;
    animation-duration: 5s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(6){
    left: 60%;
    animation-delay: 4s;
    animation-duration: 6s;
}
.bg-bubbles li:nth-child(7){
    left: 70%;
    width: 100px;
    height: 100px;
}
.bg-bubbles li:nth-child(8){
    left: 80%;
    width: 120px;
    height: 120px;
    animation-duration: 10s;
}
.bg-bubbles li:nth-child(9){
    left: 90%
}
.bg-bubbles li:nth-child(10){
    left: 95%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
}
.search {
    background: transparent;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 100%;
    padding: 5px;
    border-bottom: solid 1px;
    transition: all .5s ease-in-out;
}
.search:focus,
.search:hover {
    border-bottom: solid 1px rgb(217,89,71);
}
.search-field {
    float: left;
    height: 100%;
    color: #fff;
}
.search-field a {
    height: 100%;
    border: none;
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.search-field a:hover {
    color: rgb(217,89,71);
}

.search-field ::-webkit-input-placeholder{
    color: #fff;
}
.search-field ::-moz-placeholder{
    color: #fff;
}
.search-placeholder{
    z-index:-1;
    position: absolute;
    top: 0;
    color: white;
}
/*circle页面*/
.container .outer-wrapper {
    padding: 20px 30px;
    color: #fff;
}
.container .outer-wrapper .circle-header .circle-title {
    margin: 0;
}
.container .outer-wrapper .circle-header .circle-portrait {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.container .outer-wrapper .circle-header .circle-portrait img {
    width: 100%;
    height: 100%;
}
.outer-wrapper .circle-header .circle-wrapper {
    float: left;
    margin-left: 20px;
}
.outer-wrapper .circle-class {
    float: left;
    min-width: 120px;
    font-size: 15px;
    margin-right: 15px;
}
.outer-wrapper .circle-class a:hover{
    border-bottom: 2px solid #fff;
}
.outer-wrapper .circle-people ,
.outer-wrapper .circle-article{
    height: 21px;
    line-height: 21px;
}
.circle-header::after {
    content: " ";
    clear: both;
    display: table;
}
.circle-header .circle-intro {
    margin: 10px 0;
}
.outer-wrapper .article-wrapper {
    width: 658px;
}
.circle-article-nav ul {
    border-bottom: 1px solid #dadada;
}
.circle-article-nav ul li {
    padding: 5px 10px;
    float: left;
}
.circle-article-list li{
    padding: 10px 10px;
    border-bottom: 1px solid #7a7a7a;
}
.circle-article-list .circle-article-title {
    transition: .5s;
    font-size: 25px;
}
.circle-article-list .circle-article-title:hover {
    animation :light-font 1.5s ease-in-out infinite alternate;
}
.circle-article-list .circle-article-intro {
    color: #ababab;
}
.circle-wrapper .circle-title h1 {
    margin: 0;
    float: left;
}.circle-title::after {
     content: " ";
     clear: both;
     display: table;
 }
.circle-wrapper .join-btn {
    width: auto;
    margin-top: 2px;
    margin-left: 10px;
    float: left;
    background: rgba(39,40,34,0.3);
    color: #fff;
    transition: .25s ;
    animation: light-btn  infinite ease-in-out alternate;
    animation-duration: 3.5s;
}
@keyframes light-btn {
    0%{
        box-shadow: 0 0 0 rgba(255, 67, 81, 0.2);
    }
    50%{
        box-shadow: 0 0 20px rgba(255, 67, 81, 0.5);
    }
    100%{
        box-shadow: 0 0 0 rgba(255, 67, 81, 0.2);
    }
}
.circle-wrapper .active {
    background: rgb(217, 89, 71);
    animation-iteration-count: 0;
}
.article-wrapper .circle-article-nav li:last-child {
    float: right;
}
.article-wrapper .circle-article-nav ul:after{
    content: " ";
    clear: both;
    display: table;
}
.article-wrapper .circle-article-nav a:hover {
    color: rgb(217 ,89 ,71);
    transform: scale(1.2,1.2);
}
.article-wrapper .write,
.article-wrapper .circle-article-nav a{
    cursor: pointer;
    transition: all .35s ease-in-out;
}
/*circle页面*/
/*个人页面*/
.datapage .container ,
.postpage .container ,
.circlepage .container {
    background: #fff;
    color: #0f0f0f;
    border-radius: 5px;
    overflow: hidden;
    height: 600px;
    margin-bottom: 20px;
}
.container .data-bar {
    float: left;
    border-right: solid #dadada 1px;
    background: rgb(250,250,250);
    height: 100%;
}
.container .data-bar:after {
    content: ' ';
    display: table;
    clear: both;
}
.container .data-bar h2 {
    padding: 20px 10px;
    margin: 20px 10px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.container .data-bar a {
    color: inherit;
    display: block;
    padding: 15px 25px;
}
.container .data-bar a:hover{
    background: #dadada;
}
.container .data-bar .active {
    background: rgb(217,83,79);
    color: #fff;
}
.container .data-bar .active:hover {
    background: rgb(217,83,79);
}
.datapage .img-uploader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    float: none;
    box-sizing:border-box;
    position: relative;
    z-index: 10;
}
.datapage .img-uploader span{
    width: 150px;
    height: 150px;
    line-height: 150px;
}
.datapage .img-uploader input[type="file"] {
    width: 150px;
    height: 150px;
    top: -150px;
    opacity: 0;
}
.datapage .img-uploader #portrait {
    top: -300px;
    height: 150px;
    width: 150px;
}
.datapage .user-data {
    float: left;
    width: 959px;
}
.datapage .user-data .wrapper{
    border-top: 1px solid #dadada;
    margin-top: -96px;
    padding-top: 96px;
    position: relative;
    z-index: 2;
}
.datapage .user-data .wrapper .inner-wrapper {
    margin: 0 auto;
    width: 270px;
}
.datapage .user-data .wrapper input[type='text'],
.datapage .user-data .wrapper input[type='date'],
.datapage .user-data .wrapper textarea{
    width: 200px;
    display: inline-block;
}
.datapage .user-data .wrapper .sex {
    padding-left: 0;
}
.datapage .user-data .form-group {
    margin-bottom: 20px;
}
.datapage label {
    margin: 0;
    margin-right: 15px;
    cursor: pointer;
    vertical-align: top;
}
.datapage .user-data .wrapper .sex label {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-right: 0;
    margin-bottom: 20px;
}
.datapage .user-data .wrapper .active label {
    background: rgb(217,83,79);
    color: #fff;
}
.datapage .user-data .wrapper .sex input[type='radio']{
    opacity: 0;
    position: absolute;
    margin-left: 0;
}
.datapage .user-data .wrapper input[type='submit'] {
    display: block;
}
.datapage .user-data .tip_success,
.datapage .user-data .tip_fail {
    text-align: center;
    display: none;
    margin-top: -16px;
}
.postpage .wrapper,
.circlepage .wrapper{
    float: left;
    width: 959px;
}
.postpage .wrapper .post-list+div {
    height: 100%;
    margin: 0;
}
.circlepage .container {
    position: relative;
}
.circlepage .wrapper .card {
    display: inline-block;
    width: 290px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0;
    position: relative;
    box-shadow: 0 3px 20px 0 #0f0f0f;
    background-image: linear-gradient(20deg, rgb(60,6,118) 0%,rgb(90,13,155) 25%,rgb(128,22,123) 50%,rgb(185,55,103) 75% ,rgb(171,20,159) 100%);
}
.circlepage .wrapper .card img {
    width: 72px;
    height: 72px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 #0f0f0f;
    position: relative;
    z-index: 10;
}
.circlepage .wrapper .card .title {
    display: block;
    position: absolute;
    width: calc(100% - 122px);
    left: calc(100% - 190px);
    top: 12px;
    font-size: 22px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.circlepage .wrapper .card .divider {
    display: block;
    height: 1px;
    width: 100%;
    border-top: solid 1px #c3c3c3;
    position: absolute;
    top: 92px;
    left: 0;
    box-shadow: 0 3px 10px 0 #0f0f0f;
}
.circlepage .wrapper .card .intro {
    display: block;
    position: absolute;
    width: calc(100% - 122px);
    left: calc(100% - 190px);
    top: 48px;
    font-size: 16px;
    color: #c2c2c2;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.circlepage .wrapper .card .btn-card {
    font-size: 16px;
    float: right;
    margin-top: 13px;
    display: inline-block;
    padding: 6px 19px;
    margin-right: -10px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}
.circlepage .wrapper .card .btn-card:hover {
    background: rgba(255,255,255,0.2);
}
/*排行榜*/
.rank {
    border-radius: 4px;
    overflow: hidden;
}
.rank:hover .banner{
    background: rgba(0,0,0,0.8);
}
.rank:hover .rank-list li {
    background: rgba(255,255,255,0.8);
}
.rank:hover .rank-list li a {
    color: #000;
}
.banner {
    padding: 5px 0 5px 15px;
    background: rgba(0,0,0,0.6);
}
.banner span{
    letter-spacing: 2px;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.rank .rank-banner:before {
    content: "\e104";
    font-size: 16px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}
.rank .rank-banner .refresh {
    float: right;
    font-size: 16px;
    margin-top: 7px;
    margin-right: 10px;
    cursor: pointer;
}
.rank .rank-banner .refresh:hover {
    color: rgb(217,83,79);
}
.rank .rank-list li {
    padding: 5px 15px;
    border-bottom: 1px solid #dadada;
    background: rgba(255,255,255,0.1);
    vertical-align: middle;
    transition: all 0.25s ease;
}
.rank .rank-list li:hover{
    background: rgba(255,255,255,0.6);
    color: #000;
}
.rank .rank-list li:hover img {
    filter: contrast(200%);
}
.rank .rank-list li a {
    color: inherit;
    font-size: 14px;
    max-width: 80%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.25s ease;
}
.rank .rank-list li img {
    display: inline-block;
    height: 25px;
    float: right;
}
.rank .rank-list li a:hover {
    color: rgb(217, 83, 79);
}
.history {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .25s ease;
}
.history:hover .banner {
    background: rgba(0,0,0,0.8);
}
.history:hover .history-list li{
    background: rgba(255,255,255,0.8);
}
.history:hover .history-list li p {
    color: #000;
}
.history .history-list .circle-avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
}
.history .history-list li {
    padding: 6px 10px;
    border-bottom: 1px solid #dadada;
    background: rgba(255,255,255,0.1);
    transition: all .25s ease;
}
.history .history-list li:hover {
    background: rgba(255,255,255,0.6);
}
.history .history-list a:hover p {
    color: rgb(217,83,79);
}
.history .history-list li img{
    width: 100%;
    height: 100%;
}
.history .circle-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: inherit;
    transition: all .25s ease;
}
.history .time {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    color: inherit;
    transition: all .25s ease;
}