<header>
    <div class="nav_container bg">
        <div class="nav-menu fl">
            <a href="__ROOT__" class="fl">
                <img src="__PUBLIC__/img/logo.png" class="logo">
            </a>
            <ul class="nav-menu-list fl">
                <li><a href="__ROOT__">首页</a></li>
                <li><a href="__ROOT__/Circle">兴趣圈</a></li>
                <li class="li-bottom"></li>
            </ul>
        </div>
        <div class="search-field">
            <form id="#search">
                <input type="search"  class="search" name="search" id="input_search" maxlength="20"/>
                <a class="glyphicon glyphicon-search" name="searchSubmit" id="search-btn"></a>
            </form>
        </div>
        <div class="fr nav-user">
            <div class="fl user-status">
                <ul class="user-status-list">
                    <li>
                        <a class="top-face face fl">
                            <img src="__PUBLIC__/img/akari.jpg" class="img-face" alt="头像">
                        </a>
                        <ul class="user-dropdown-menu"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>