<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCircle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/CSS/main-style.css" rel="stylesheet" type="text/css" >
    <link href="__PUBLIC__/CSS/pagination.css" rel="stylesheet" type="text/css" >
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script src="__PUBLIC__/js/my_circle.js"></script>
    <script>
        var MODULE="__ROOT__";
        var PUBLIC="__PUBLIC__";
    </script>
    <script src="__PUBLIC__/js/jquery.pagination.js"></script>
</head>
<body>
<div class="main-body">
    <include file="Public:header"/>
    <div class="container">
        <aside class="fr sidebar">
            <aside class="bg user-login-window">
                <form class="user-login">
                    <div class="input">
					    <input class="input-field" type="text" id="inputUsername" />
                        <label class="input-label"  for="inputUsername">
                            <span>用户名</span>
                        </label>
                    </div>
                    <div class="input">
                        <input class="input-field" type="password" id="inputPassword" />
                        <label class="input-label"  for="inputPassword">
                            <span>密码</span>
                        </label>
                    </div>
                    <div>
                        <a href="Account/register">立即注册</a>
                        <a href="#" style="margin-left: 198px">忘记密码?</a>
                    </div>
                    <input id="btn-login" class="user-btn  btn" type="submit" value="快速登陆">
                </form>
            </aside >
            <aside  class="user bg">
                <div class="face side-face">
                    <img src="{$avatar}" class="img-face">
                </div>
                <p class="welcome">欢迎你！{$username} ～</p>
                <div class="user-menu">
                    <p>最近加的：</p>
                    <ul class="user-menu-circle"></ul>
                    <p>最近写的：</p>
                    <ul class="user-menu-article"></ul>
                </div>
            </aside>
            <aside class="bg rank">
                排行榜
            </aside>
        </aside>
        <div class="article-list M-box m-style"></div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<script>
    $(function () {
        var total = '{$total}';
        var show =  5;
        total = Math.ceil(total/show);
        $('.M-box').pagination({
            mode: 'fixed',
            showData: show,
            pageCount: total,
            callback: function (api) {
                getRecommendArticleList(api.getCurrent(),show);
            }
        },function (api) {
            getRecommendArticleList(api.getCurrent(),show);
        });
    });
</script>
</body>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/index.js"></script>
</html>
